/* brainstorming.css */

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

img {
    max-width: 100%; /* Make images responsive by setting maximum width to 100% of their container */
    height: auto; /* Maintain aspect ratio */
}

.bottomimg img {
    width: 50%; /* Set width to 50% for the image inside .bottomimg div */
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image */
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0%;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: gray;
}

.navbar li{
    float: left;
}

.navbar a:hover{
    background-color: black;
}

.navbar li {
    border: 1px black;
}



